*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #E3F2FD;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}
.container .color{
    background-color: #fff;
    list-style: none;
    text-align: center;
    margin: 13px;
    padding: 7px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(52, 87, 220, 0.08);
    transition: transform 0.2s ease;
}
.container .color:active{
    transform: scale(0.95);
}
.color .rect-box{
    width: 185px;
    height: 188px;
    border-radius: 5px;
}
.color:hover .rect-box{
filter: brightness(110%);
}
.color .hex-value{
    font-size: 1.15rem;
    display: block;
    color: #444;
    margin: 12px 0 8px;
    text-transform: uppercase;
}
.refresh-btn{
    position: fixed;
    left: 50%;
    bottom: 40px;
    outline: none;
    font-size: 1.1rem;
    color: white;
    background-color: #8a6cff;
    padding: 12px 20px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(52, 87, 220, 0.2);
    transform: translateX(-50%);
}

@media screen and (max-width: 510px) {
.container{
    margin: 10px;
}    
.container .color{
    margin: 8px;
    padding: 5px;
}
.color .rect-box{
    width: 145px;
    height: 148px;
}
.color .hex-value{
    font-size: 1.05rem;
}
}